{% extends 'base/base.html.twig' %}


{% block title %}Réservation{% endblock %}


{% block body %}

{% for flashMessage in app.flashes('danger') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}

<div class="mask d-flex align-items-center h-100 gradient-custom-3 p-5 ">
    <div class="container p-5 h-100 col-md-6">
        <div class="card p-5 bg-dark" style="border-radius: 15px;">
            <div class="card-body">
                <h3 class="text-uppercase text-center mb-5">RESERVATION</h3>
                {{ form_start(form, {'attr': {'id': 'booking-form'}}) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.personne) }}
                {{ form_row(form.allergy) }}
                {{ form_row(form.date, {'attr': {'id': 'booking_date'}}) }}
                {{ form_row(form.heure, {'attr': {'id': 'booking_heure', 'placeholder': 'HH:MM', }}) }}
                <br>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary center" onclick="checkReservation()">Vérifier la disponibilité</button>
                </div>
                <br>    
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning">Réserver</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        // Script pour vérifier la disponibilité de la réservation et afficher une alerte
        function checkReservation() {
            const dateValue = document.getElementById('booking_date').value;
            const heureElement = document.getElementById('booking_heure');
            const heureValue = heureElement.options[heureElement.selectedIndex].text;

            // Formatage de la valeur de l'heure au format HH:MM
            const formattedHeureValue = heureValue.substring(0, 5);
    
            const url = "/reservation/check-reservation?date=" + dateValue + "&heure=" + formattedHeureValue;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.reservationExists) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Réservation indisponible',
                            text: 'Une réservation existe déjà pour cette date et cette heure.',
                        });
                    } else {
                        Swal.fire({
                            icon: 'success',
                            title: 'Réservation disponible',
                            text: 'Aucune réservation existante pour cette date et cette heure. Vous pouvez réserver.',
                        });
                    }
                })
                .catch(error => {
                    console.error('Une erreur s\'est produite lors de la vérification de la réservation :', error);
                });
        }
    </script>
{% endblock %}
